<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina incial</title>
    <link rel="stylesheet" href="./css/welcome.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>

    <div class="container">
        <div class="title">
            <h1 class="ras">RAS</h1>
            <img src = "assets/soccer_ball.png" alt=""/>
            <h1 class="bet"> bet </h1>
        </div>    
        <h3 class="descricao"> </h3>
        <form action="login.html">
            <button class="button-login" type="submit"> Entrar </button>
        </form>
        
        <form action="./createAccount.html">
            <button class="button-criarConta" type="submit"> Criar Conta </button>
        </form>
    </div>


    <div class="decoration"> </div>
</body>
</html>